@use '@/styles/tokens' as *;
@use '@/styles/utils' as *;

.gp-header {
  width: 100vw;
  box-shadow: inset 0 toRem(32) toRem(32) toRem(1) rgba(0, 0, 0, 0.2);
  padding: toRem(8) toRem(12);
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid black;

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      padding-right: toRem(120);
      gap: toRem(32);
      display: none;

      li {
        font-size: $font-size-lg;
      }
    }
  }
}