@use './tokens' as *;
@use '@/styles/tokens' as *;
@use '@/styles/utils' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-family-base;
}

main {
  margin: toRem(16) toRem(32);
  padding: toRem(8);
  // outline: 1px solid black;
  border-radius: toRem(4);
}

body {
  background: $color-charcoal;
  font-size: $font-size-md;
  color: $color-white;
  height: 100vh;
}

ul {
  display: flex;
  gap: 1em;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}